:root {
  --chat-404-title-color: var(--bs-light);
}

.title-404 {
  font-size: calc(3rem + 20vw);
  color: var(--bs-body-bg);
  text-shadow: -0.0625rem 0 var(--chat-404-title-color),
                0 0.0625rem var(--chat-404-title-color),
                0.0625rem 0 var(--chat-404-title-color),
                0 -0.0625rem var(--chat-404-title-color);
}
